.sort-menu {
  margin: 20px;
}
.articleList {
  text-align: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.images {
  height: 140px;
  cursor: pointer;
}

.articleTitle {
  margin: 20px;
  cursor: pointer;
  color: black;
}

.articleTitle:hover {
  color: blue;
}

.articleLinks {
  text-decoration: none;
}
.topicTitle {
  margin: 10px;
  cursor: pointer;
  color: black;
}

.all-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.each-article {
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 229, 229);
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 10px;
}
